/*import from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family */

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


header {
    background-color: #FFF4E7;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.brand-heading {
    color: #131313;
    font-size: 30px;
    font-weight: bold;
}

.banner-section {
    margin: 100px 0px;
}

.banner-container {
    text-align: center;
}

.banner {
    width: 1440px;
    margin: 0px auto;
}

.banner-heading {
    font-size: 45px;
    color: #131313;
}

.banner-description {
    font-size: 18px;
    color: #727272;
}

.banner-btn {
    font-size: 18px;
    color: #fff;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.banner-img {
    width: 1440px;
    margin-top: 50px;
}

main {
    width: 1440px;
}


.feature-container  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
    
}

.feature img {
    max-width: 300px;
    margin-right: 10px;
    margin-top: 10px;
}

.feature-heading {
    font-size: 35px;
    color: #727272
}

.feature-highlight {
    color: #131313;
    font-weight: bold;
}

.feature-another-highlight {
    color: #FF900E;
    font-weight: bold;
}

.feature-description {
    color: #727272;
    font-weight: 18px;
    text-align: left;
}

.feature-btn {
    font-size: 18px;
    color: #fff;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.feature-about-container {
   margin: 100px 250px;
   
}

.feature-about-container {
    display: flex;
    gap: 100px;
}

.card-img {
    width: 100%;
}

.feature-card {
    width: 580px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 40px silver;
    padding: 20px;
    margin-top: 20px;
}

.feature-about-heading {
    font-size: 35px;
    font-weight: bold;
    border-image: linear-gradient(0deg, tomato, tomato);
    border-left: 5px solid;
    border-image-slice: 1;
    padding: 30px;
    height: 80px;
    color: #131313;
    width: 300px;
}

.feature-about-description {
    color: #727272;
    font-size: 18px;
}

.card-exp {
    background-color: #FF900E;
    height: 50px;
    width: 100px;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.card-exp {
    font-size: 15px;
    padding: 40px 25px;
    text-align: center;
    margin-top: -80px;
    margin-left: -45px;
    position: relative;
}

.strong-font {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.facts-section {
    margin: 0px 250px;
    width: 100%;
}

.facts-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.facts-heading {
    font-size: 35px;
    font-weight: bold;
    color: #131313;
}

.facts-description {
    color: #727272;
    font-size: 18px;
}

.facts-box {
    width: 150px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    box-shadow: 2px 2px 20px silver;
    padding: 20px;
    line-height: 5px;
    text-align: center;
}

.facts-box img {
    width: 40px;
    height: 40px;
}

.facts-box h3 {
    color: #424242;
    font-size: 30px;
    font-weight: 600;
}

.facts-box p {
    color: #727272;
    font-size: 18px;
}

.sponsor-section {
    margin: 100px 250px;
    width: 100%;
}

.sponsor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sponsor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sponsor-img img {
    width: 150px;
    height: 50px;
}

.sponsor-heading {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #131313;
}

.sponsor-description {
    font-size: 18px;
    color: #727272;
    text-align: center;
}

footer {
    width: 1440px;
    margin: 0px auto;
    text-align: center;
    background-color: bisque;
    padding: 15px 10px;
    border-radius: 5px;
}